.ItemButtons-btn-container{
    display: flex;
    flex-direction: row;
}
.ItemButtons-btn {
    flex: 1;
    padding: 10px;
    margin: 5px;
    font-size: x-large;
    cursor: pointer;
    border-radius: 20px;
}


.ItemButtons-add-to-cart {
    background-color: green;
    border: 2px solid darkgreen;
}

.ItemButtons-add-to-cart:hover {
    background-color: darkgreen;
    border: 2px solid darkolivegreen;
    color: white;
}

.ItemButtons-remove-from-cart {
    background-color: red;
    border: 2px solid darkred;
}
.ItemButtons-remove-from-cart:hover {
    background-color: darkred;
    border: 2px solid maroon;
    color: white;
}
